/* Color Official Announcements on the homepage */
.thing .title[href*='official_announcement'] {
    color: red;
}

.thing .title[href*='official_announcement']:visited {
    color: red;
}

.thing .title.loggedin[href*='official_announcement'] {
    color: red;
}

.thing .title.loggedin[href*='official_announcement']:visited {
    color: red;
}

/* Picture of the Week is here */
div.titlebox {
    padding-top: 345px;
    background: transparent url(%%GetDisciplined%%) no-repeat top left;
}

#header {
    height: 169px;
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(left, #7db9e8, #1e5799); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7db9e8), color-stop(96%,#1e5799));  Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #7db9e8,#1e5799); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #7db9e8,#1e5799); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #7db9e8,#1e5799); /* IE10+ */
    background: linear-gradient(to right, #7db9e8,#1e5799); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 );  IE6-9 */
}

#header-bottom-left {
    position: absolute;
    bottom: 0; /* put the tob tapmenu in the right place */
    width: 100%; /*so we can centralize the "GetDisciplined" */
}

.pagename a {
    color: white;
}
.pagename:after {
    content:"GetDisciplined";
    text-align: center;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    color: white;
    font-size: 55px;
    top: -106px;
    letter-spacing: 5px;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}


.pagename:before{
    content: "Motivation is the start, but if it's not solidified into discipline,";
    text-align: center;
    color: white;
    width: 509px;
    margin: auto;
    left: 0;
    right: 0;
    top: -36px;
    position: absolute;
    text-shadow: 0px 0px 10px white, 0px 0px 180px white;
}

#header-bottom-left:before{
    content: "it usually fades away into regret pretty quickly";
    text-align: center;
    color: white;
    width: 509px;
    margin: auto;
    left: 0;
    right: 0;
    top: -14px;
    position: absolute;
    text-shadow: 0px 0px 10px white, 0px 0px 180px white;
    font-weight: bold;
    font-size: 1.2em;
    font-variant: small-caps;
}

#header-bottom-left:after{
    content: "once you realize you never acted on it.";
    text-align: center;
    color: white;
    width: 509px;
    margin: auto;
    left: 0;
    right: 0;
    top: 8px;
    position: absolute;
    text-shadow: 0px 0px 10px white, 0px 0px 180px white;
    font-weight: bold;
    font-size: 1.2em;
    font-variant: small-caps;
}

/* side menu */
.side {
    box-shadow: -2px 3px 50px 1px #D6DEEC;
    padding: 3px;
    background-color: #F7F7F7;
}

/* To change readers to Warriors */
.subscribers span.number:after {
    content: " Warriors";
}

.subscribers span.word {
    display: none;
}


/*align the submit link box, the community settings box, and edit flair box to the center */
.create-reddit, .flair-settings, .tabpane-content, .submit.content, .flair-settings + .tabmenu {
    width: 800px; /* aprox size of the center box + the sidebox */
    margin: auto; /* auto makes it centralize, you might want to change the margin px size */
}

/* when editing the flair setting, this is needed to be able to centralize the bottom tabmenu */
.flair-settings + .tabmenu {
    display: block;
}

.footer {
    box-shadow: 0px 0px 20px 1px #C1CDE0;
}
